{% extends "base.html" %}

{% block content %}
  <section class="section">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

{#    <div>#}
{#      <td>{{ form.username.label_tag }}</td>#}
{#      <td>{{ form.username }}</td>#}
{#    </div>#}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">{{ form.username.label_tag }}</label>
      <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">{{ form.password.label_tag }}</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
{#    <div>#}
{#      <td>{{ form.password.label_tag }}</td>#}
{#      <td>{{ form.password }}</td>#}
{#    </div>#}

    <div>
      <button name="login" type="submit" class="btn btn-primary" value="login">Login</button>
{#      <input type="submit" value="login" />#}
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </section>
{% endblock %}